<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
    <title>Cliente</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

    <div class="hero">

    
    
    <div class="fila flex-center">
        <div class="caja-barra-busqueda-card">
            <div th:if="${modo eq 'nuevo'}">
                <form th:action="@{/guardarCliente}" th:object=${cliente} method="POST">
                    <div class="fila flex-column-center">
                        <div>
                            <div>
                                <h2>Agregar Cliente</h>
                            </div>


                        <div>
                            <div>
                                <input class="buscador-card" type="hidden" name="idCliente" th:field="*{idCliente}" />
                            </div>

                            <div>
                                <label>Nombre</label>
                                <input class="buscador-card" type="text" name="nombreCliente" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>Apellido</label>
                                <input class="buscador-card" type="text" name="apellidoCliente" th:field="*{apellido}" />
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>DNI</label>
                                <input class="buscador-card" type="text" name="dniCliente" th:field="*{dni}" />
                                <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>Licencia (Opcional)</label>
                                <input class="buscador-card" type="text" name="licenciaCliente" th:field="*{licencia}" />
                                <span th:if="${#fields.hasErrors('licencia')}" th:errors="*{licencia}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>Direccion (Opcional)</label>
                                <input class="buscador-card" type="text" name="direccionCliente" th:field="*{direccion}" />
                                <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>Email (Opcional)</label>
                                <input class="buscador-card" type="text" name="emailCliente" th:field="*{email}" />
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>

                            <div class="m-t-small">
                                <label>Telefono (Opcional)</label>
                                <input class="buscador-card" type="text" name="telefonoCliente" th:field="*{telefono}" />
                                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoCliente" th:field="*{estado}" />
                            </div>
                        </div>

                        <div class="flex-center m-t">
                            <input type="submit" class="btn-editar-card" value="Guardar" />
                            <a class="btn-eliminar m-l" th:href="@{/clientes}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div> 
            
            <!-- Formulario para guardar un nuevo cliente-->
            <div th:if="${modo eq 'editar'}">
                <form th:action="@{/actualizarCliente}" th:object=${cliente} method="POST">
                    <div class="col-100">
                        <div>
                            <h2>Editar Cliente</h2>
                        </div>

                        <div class="flex-column-center">
                            <div>
                                <input class="buscador-card" type="hidden" name="idCliente" th:field="*{idCliente}" />
                            </div>

                            <div>
                                <label>Nombre</label>
                                <input class="buscador-card" type="text" name="nombreCliente" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div>
                                <label>Apellido</label>
                                <input class="buscador-card" type="text" name="apellidoCliente" th:field="*{apellido}" />
                                <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
                            </div>

                            <div>
                                <label>DNI</label>
                                <input class="buscador-card" type="text" name="dniCliente" th:field="*{dni}" />
                                <span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
                            </div>

                            <div>
                                <label>Licencia (Opcional)</label>
                                <input class="buscador-card" type="text" name="licenciaCliente" th:field="*{licencia}" />
                                <span th:if="${#fields.hasErrors('licencia')}" th:errors="*{licencia}"></span>
                            </div>

                            <div>
                                <label>Direccion (Opcional)</label>
                                <input class="buscador-card" type="text" name="direccionCliente" th:field="*{direccion}" />
                                <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></span>
                            </div>

                            <div>
                                <label>Email (Opcional)</label>
                                <input class="buscador-card" type="text" name="emailCliente" th:field="*{email}" />
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </div>

                            <div>
                                <label>Telefono (Opcional)</label>
                                <input class="buscador-card" type="text" name="telefonoCliente" th:field="*{telefono}" />
                                <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoCliente" th:field="*{estado}" />
                            </div>
                        </div>

                        <div class="flex-center m-t">
                            <input type="submit" class="btn-editar-card" value="Actualizar" />
                            <a class="btn-eliminar m-l" th:href="@{/clientes}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div> <!-- Formulario para actualizar un cliente-->
        </div>
    </div>
</div>
</body>

</html>