<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
    <title>Servicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

    <div class="hero">

        <div class="fila flex-center">
            <div class="caja-barra-busqueda-card m-t">
                <div th:if="${modo eq 'nuevo'}">
                    <form th:action="@{/guardarServicio}" th:object=${servicio} method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Agregar Servicio</h2>
                            </div>
    
                            <div class="flex-column-center">
                                <div>
                                    <input type="hidden" name="idServicio" th:field="*{idServicio}" />
                                </div>
    
                                <div class="m-t">
                                    <label>Nombre</label>
                                    <input class="buscador-card m-t-small" type="text" name="nombreServicio" th:field="*{nombre}" />
                                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Precio</label>
                                    <input class="buscador-card m-t-small" type="text" name="precioServicio" th:field="*{precio}" />
                                    <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Repuesto (Opcional)</label>
                                    <input class="buscador-card m-t-small" type="text" name="repuestoServicio" th:field="*{repuesto}" />
                                    <span th:if="${#fields.hasErrors('repuesto')}" th:errors="*{repuesto}"></span>
                                </div>
    
                                <div>
                                    <input type="hidden" name="estadoServicio" th:field="*{estado}" />
                                </div>
                            </div>
    
                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card m-r" value="Guardar" />
                                <a class="btn-eliminar" th:href="@{/servicios}">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div> 
                
                <!-- Nuevo form para guardar-->
                <div th:if="${modo eq 'editar'}">
                    <form th:action="@{/actualizarServicio}" th:object=${servicio} method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Editar Servicio</h2>
                            </div>
    
                            <div class="flex-column-center">
                                <div class="form-group">
                                    <input type="hidden" name="idServicio" th:field="*{idServicio}" />
                                </div>
    
                                <div class="m-t">
                                    <label>Nombre</label>
                                    <input class="buscador-card m-t-small" type="text" name="nombreServicio" th:field="*{nombre}" />
                                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Precio</label>
                                    <input class="buscador-card m-t-small" type="text" name="precioServicio" th:field="*{precio}" />
                                    <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Repuesto</label>
                                    <input class="buscador-card m-t-small" type="text" name="repuestoServicio" th:field="*{repuesto}" />
                                    <span th:if="${#fields.hasErrors('repuesto')}" th:errors="*{repuesto}"></span>
                                </div>
    
                                <div class="form-group">
                                    <input type="hidden" name="estadoServicio" th:field="*{estado}" />
                                </div>
                            </div>
    
                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card m-r" value="Actualizar" />
                                <a class="btn-eliminar" th:href="@{/servicios}">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>

    
</body>

</html>