<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
    <title>Marca</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

    <div class="hero">

        <div class="fila flex-center">
            <div class="caja-barra-busqueda-card m-t">
                <div th:if="${modo eq 'nuevo'}">
                    <form th:action="@{/guardarMarca}" th:object=${marca} method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Agregar Marca</h2>
                            </div>
    
                            <div class="flex-column-center">
                                <div>
                                    <input class="buscador-card" type="hidden" name="idMarca" th:field="*{idMarca}" />
                                </div>
    
                                <div>
                                    <label>Nombre</label>
                                    <input class="buscador-card" type="text" name="nombreMarca" th:field="*{nombre}" />
                                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Impuesto</label>
                                    <input class="buscador-card" type="number" step="0.01" name="valorImpuesto" th:field="*{impuesto}" />
                                    <span th:if="${#fields.hasErrors('impuesto')}" th:errors="*{impuesto}"></span>
                                </div>
    
                                <div class="form-group">
                                    <input type="hidden" name="estadoMarca" th:field="*{estado}" />
                                </div>
                            </div>
    
                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card m-r" value="Guardar" />
                                <a class="btn-eliminar" th:href="@{/marcas}">Regresar</a>
                            </div>
                        </div>
                    </form>


                </div> <!-- Nuevo form para editar-->
                <div th:if="${modo eq 'editar'}">
                    <form th:action="@{/actualizarMarca}" th:object=${marca} method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Editar Marca</h2>
                            </div>
    
                            <div class="flex-column-center">
                                <div>
                                    <input class="buscador-card" type="hidden" name="idMarca" th:field="*{idMarca}" />
                                </div>
    
                                <div>
                                    <label>Nombre</label>
                                    <input class="buscador-card" type="text" name="nombreMarca" th:field="*{nombre}" />
                                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                                </div>
    
                                <div class="m-t">
                                    <label>Impuesto</label>
                                    <input class="buscador-card" type="number" step="0.01" name="valorImpuesto" th:field="*{impuesto}" />
                                    <span th:if="${#fields.hasErrors('impuesto')}" th:errors="*{impuesto}"></span>
                                </div>
    
                                <div class="form-group">
                                    <input type="hidden" name="estadoMarca" th:field="*{estado}" />
                                </div>
                            </div>
    
                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card" value="Actualizar" />
                                <a class="btn-eliminar m-l" th:href="@{/marcas}">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>

    </div>

    
</body>

</html>