<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
    <title>Orden</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

</head>
<body>

    <div class="hero">


        <div class="fila flex-center">
            <div class="caja-barra-busqueda-card m-t-small">
                <div th:if="${modo eq 'nuevo'}">
                    <form th:action="@{/guardarOrden}" th:object="${orden}" method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Agregar Orden</h2>
                            </div>
                            
                            <div class="flex-column-center">
                                <div>
                                    <input type="hidden" name="idOrden" th:field="*{idOrden}"/>
                                </div>
        
                                <div class="m-t">
                                    <label>Fecha documento</label>
                                    <div>
                                        <input class="buscador-card m-t-small" type="date" name="fechaDocumento" th:value="orden.fechaDocumento" placeholder="Fecha Orden"/>
                                        <div th:if="${errorFecha}">
                                            <p class="alert alert-danger" th:text="${errorFecha}"></p>
                                        </div>
                                    </div>
                                    
        
                                </div>
                                
                                <div class="m-t">
                                    <label>Vehiculo</label>
                                        <div>
                                            <select class="m-t-small" id="vehiculo" name="vehiculo" required>
                                                <option value="" disabled selected>Selecciona un Vehiculo</option>
                                                <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.idVehiculo}" th:text="${vehiculo.patente}" th:selected="${orden.vehiculo != null and vehiculo.idVehiculo == orden.vehiculo.idVehiculo}"></option>
                                            </select>
                                        </div>
                                </div>
        
                                <div class="m-t">
                                    <label>Kilometros</label>
                                    <div>
                                        <input class="buscador-card m-t-small" type="text" name="kilometrosVehiculo" placeholder="Km del vehiculo" th:field="*{kilometros}" />
                                        <span th:if="${#fields.hasErrors('kilometros')}" th:errors="*{kilometros}"></span>
                                    </div>
                                </div>
        
                                <div class="m-t">
                                    <label>Tecnico</label>
                                    <div>
                                        <select class="m-t-small" id="tecnico" name="tecnico" required>
                                            <option value="" disabled selected>Selecciona un Tecnico</option>
                                            <option th:each="tecnico : ${tecnicos}" th:value="${tecnico.idTecnico}" th:text="${tecnico.nombre}+' - Legajo: '+${tecnico.legajo}" th:selected="${orden.tecnico != null and tecnico.idTecnico == orden.tecnico.idTecnico}"></option>
                                        </select>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <input type="hidden" name="estadoOrden" th:field="*{estado}"/>
                                </div>
        
                                <div class="card-footer">       
                                
            
                                <div id="ordenId" data-orden-id="orden" style="display: none;"></div>
                                
                                <div class="form-group" style="display: none;">
                                    <label for="agregarDetalles">¿Desea agregar detalles de la orden?</label>
                                    <select id="agregarDetalles" name="agregarDetalles">
                                        <option value="si">Sí</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            
                            </div>
                        
                            <div class="flex-center m-t">
                                <input type="submit" id="guardarOrden" class="btn-editar-card m-r" value="Guardar" />
                                <a  class="btn-eliminar m-l" th:href="@{/ordenes}">Regresar</a>
                            </div>
        
                                
                            </div>
                        </div> 
                    </form>
                </div>
        
                <!--Actualizar-->
                <div th:if="${modo eq 'editar'}">
                    <form th:action="@{/actualizarOrden}" th:object="${orden}" method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Editar Orden</h2>
                            </div>

                            <div class="flex-column-center">
                                <div>
                                    <input type="hidden" name="idOrden" th:field="*{idOrden}"/>
                                </div>
        
                                <div class="m-t">
                                    <label>Fecha documento</label>
                                    <div>
                                        <input class="buscador-card m-t-small" type="date" name="fechaDocumento" th:value="${fechaDocumento}" placeholder="Fecha Orden"/>
                                        <div th:if="${errorFecha}">
                                            <p class="alert alert-danger" th:text="${errorFecha}"></p>
                                        </div>
                                    </div>                                    
                                </div>
        
                                <div class="m-t">
                                    <label>Vehiculo</label>
                                    <div>
                                        <select id="vehiculo" name="vehiculo" required>
                                            <option value="" disabled selected>Selecciona un Vehiculo</option>
                                            <option th:each="vehiculo : ${vehiculos}" th:value="${vehiculo.idVehiculo}" th:text="${vehiculo.patente}" th:selected="${orden.vehiculo != null and vehiculo.idVehiculo == orden.vehiculo.idVehiculo}"></option>
                                        </select>
                                    </div>
                                </div>
        
                                <div class="m-t">
                                    <label>Kilometros</label>
                                    <div>
                                        <input class="buscador-card m-t-small" type="text" name="kilometrosVehiculo" placeholder="Ingrese el kilometraje del vehiculo" th:field="*{kilometros}" />
                                        <span th:if="${#fields.hasErrors('kilometros')}" th:errors="*{kilometros}"></span>
                                    </div>
                                </div>
        
                                <div class="m-t">
                                    <label>Tecnico</label>
                                    <div>
                                        <select class="m-t-small" id="tecnico" name="tecnico" required>
                                            <option value="" disabled selected>Selecciona un Tecnico</option>
                                            <option th:each="tecnico : ${tecnicos}" th:value="${tecnico.idTecnico}" th:text="${tecnico.nombre}+' - Legajo: '+${tecnico.legajo}" th:selected="${orden.tecnico != null and tecnico.idTecnico == orden.tecnico.idTecnico}"></option>
                                        </select>
                                    </div>
                                </div>
        
                                <div class="m-t">
                                    <label>Estado Actual</label>
                                    <div>
                                        <select class="m-t-small" id="estadoActual" name="estadoActual" required>
                                            <option value="" disabled selected>Selecciona un Estado</option>
                                            <option th:each="estadoActual : ${estadosActuales}" th:value="${estadoActual.idEstado}" th:text="${estadoActual.nombre}" th:selected="${orden.estadoActual != null and estadoActual.idEstado == orden.estadoActual.idEstado}"></option>
                                        </select>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <input type="hidden" name="estadoOrden" th:field="*{estado}"/>
                                </div>
                            </div>

                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card" value="Actualizar" />
                                <a  class="btn-eliminar m-l" th:href="@{/ordenes}">Regresar</a>
                                
                            </div>
                        </div>
                        
                    </form>
        
        
                </div>
            </div>
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const guardarOrdenButton = document.getElementById('guardarOrden');
    
            if (guardarOrdenButton) {
                guardarOrdenButton.addEventListener('click', function (event) {
                    event.preventDefault(); // Evita que se envíe el formulario
    
                    const formulario = guardarOrdenButton.closest('form');
                    if (formulario.checkValidity()) {
                        Swal.fire({
                            title: '¿Desea agregar detalles a la orden?',
                            showCancelButton: true,
                            confirmButtonText: 'Agregar Detalles',
                            cancelButtonText: 'No Agregar Detalles'
                        }).then((result) => {
                            const agregarDetallesField = document.getElementById('agregarDetalles');
                            if (result.isConfirmed) {
                                agregarDetallesField.value = 'si';
                            } else {
                                agregarDetallesField.value = 'no';
                            }
                            formulario.submit(); // Envía el formulario después de actualizar el campo
                        });
                    } else {
                        Swal.fire('Errores de validación', 'Por favor, complete correctamente los campos requeridos.', 'error');
                    }
                });
            } else {
                console.error('No se encontró el botón de guardar.');
            }
        });
    </script>

</body>
</html>