<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
    <title>Modelo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>

    <div class="hero">

    

    <div class="fila flex-center">
        <div class="caja-barra-busqueda-card m-t">
            <div th:if="${modo eq 'nuevo'}">
                <form th:action="@{/guardarModelo}" th:object=${modelo} method="POST">
                    <div class="col-100">
                        <div>
                            <h2>Agregar Modelo</h2>
                        </div>

                        <div class="flex-column-center">
                            <div>
                                <input class="buscador-card" type="hidden" name="idModelo" th:field="*{idModelo}" />
                            </div>

                            <div>
                                <label>Nombre</label>
                                <input class="buscador-card" type="text" name="nombreModelo" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div class="m-t">
                                <label>Marca</label>
                                <select id="marca" name="marca" required>
                                    <option value="" disabled selected>Selecciona una Marca</option>
                                    <option th:each="marca : ${marcas}" th:value="${marca.idMarca}"
                                        th:text="${marca.nombre}"
                                        th:selected="${modelo.marca != null and marca.idMarca == modelo.marca.idMarca}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoModelo" th:field="*{estado}" />
                            </div>
                        </div>

                        <div class="flex-center m-t">
                            <input type="submit" class="btn-editar-card m-r" value="Guardar" />
                            <a class="btn-eliminar" th:href="@{/modelos}">Regresar</a>
                        </div>
                    </div>
                </form>


            </div> <!-- Nuevo form para guardar-->
            <div th:if="${modo eq 'editar'}">
                <form th:action="@{/actualizarModelo}" th:object=${modelo} method="POST">
                    <div class="col-100">

                        <div>
                            <h2>Editar Modelo</h2>
                        </div>

                        <div class="flex-column-center">
                            <div>
                                <input class="buscador-card" type="hidden" name="idModelo" th:field="*{idModelo}" />
                            </div>

                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="buscador-card" type="text" name="nombreModelo" th:field="*{nombre}" />
                                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
                            </div>

                            <div class="m-t">
                                <label>Marca</label>
                                <select id="marca" name="marca" required>
                                    <option value="" disabled selected>Selecciona una Marca</option>
                                    <option th:each="marca : ${marcas}" th:value="${marca.idMarca}"
                                        th:text="${marca.nombre}"
                                        th:selected="${modelo.marca != null and marca.idMarca == modelo.marca.idMarca}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="hidden" name="estadoModelo" th:field="*{estado}" />
                            </div>

                        </div>
                        <div class="flex-center m-t">
                            <input type="submit" class="btn-editar-card m-r" value="Actualizar" />
                            <a class="btn-eliminar" th:href="@{/modelos}">Regresar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>

</html>