<html>
<head xmlns:th="http://www.thymeleaf.org">
    <title>Clientes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a  th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a class="activo" th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">

        <div class="fila flex-start">
            <div class="col-100 m-t">
                <h2>Listado Clientes</h2>          
            </div> 
        </div>   
    
        <div class="fila flex-center">
            <a th:href="@{/agregarCliente}" class="btn-agregar">Agregar</a>
            <a th:href="@{/clientesEliminados}" class="btn-ver-eliminadas m-l">Ver eliminados</a>
        </div>
        
        <div class="fila flex-column-center">
            <div class="col-100 caja-barra-busqueda">
                <label>Buscador de Clientes</label>
                <form class="flex-center" role="search" th:action="@{/buscarClientes}" th:object="${cliente}" method="get">
                <input class="buscador" type="number" name="dni" placeholder="Ingrese el dni del cliente" aria-label="Search" th:value="${dni}">
                <input class="buscador m-l" type="text" name="nombre" placeholder="Ingrese el nombre del cliente" aria-label="Search" th:value="${nombre}">
                
                <div class="flex-column-center m-t">
                    <input class="buscador" type="date" name="fechaDesde" placeholder="Fecha Orden" aria-label="Search" th:value="${fechaDesde}" />
                    <span>Desde</span>
                </div>
    
                <div class="flex-column-center m-t">
                    <input class="buscador" type="date" name="fechaHasta" placeholder="Fecha Orden" aria-label="Search" th:value="${fechaHasta}" />
                    <span>Hasta</span>
                </div>
                <button class="btn-editar" type="submit">Buscar</button>
            </form>
        </div>
        </div>



    <div class="fila flex-center" th:if="${cliente != null and !cliente.empty}">
        <div class="col-100 caja-tablas">
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Licencia</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
                </thead>
    
                <tr th:each="cliente :${cliente}">
                    <td th:text="${cliente.nombre}">Mostrar Nombre</td>
                    <td th:text="${cliente.apellido}">Mostrar Apellido</td>
                    <td th:text="${cliente.dni}">Mostrar Dni</td>
                    <td>
                        <span th:if="${cliente.licencia != null and cliente.licencia != ''}" th:text="${cliente.licencia}">Mostrar Licencia</span>
                        <span th:unless="${cliente.licencia != null and cliente.licencia != ''}">(No Ingresado)</span>
                    </td>
                    <td>
                        <span th:if="${cliente.direccion != null and cliente.direccion != ''}" th:text="${cliente.direccion}">Mostrar Direccion</span>
                        <span th:unless="${cliente.direccion != null and cliente.direccion != ''}">(No Ingresado)</span>
                    </td>
                    <td>
                        <span th:if="${cliente.email != null and cliente.email != ''}" th:text="${cliente.email}">Mostrar Email</span>
                        <span th:unless="${cliente.email != null and cliente.email != ''}">(No Ingresado)</span>
                    </td>
                    <td>
                        <span th:if="${cliente.telefono != null and cliente.telefono != ''}" th:text="${cliente.telefono}">Mostrar Telefono</span>
                        <span th:unless="${cliente.telefono != null and cliente.telefono != ''}">(No Ingresado)</span>
                    </td>
                    <td> <a class="btn-editar" th:href="@{/modificarCliente/} + ${cliente.idCliente}" th:text="Editar"/>
                        <a class="btn-eliminar" th:href="@{/eliminarCliente/} + ${cliente.idCliente}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
    </div>

    
    <div class="flex-center">
        <div style="color: white; z-index: 2; font-size: large;" th:if="${cliente == null or cliente.empty}">
            La lista de clientes esta vacia
        </div>
    </div>

    </div>

</div>
</body>
</html>