<html>
<head xmlns:th="http://www.thymeleaft.org">
    <title>Detalles Orden</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>    
</head>
<body>

    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a class="activo" th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">
        
        <div class="fila flex-column-center">
            <h2 th:if="${eliminada == null || !eliminada}">Listado DetallesOrden</h2>
            <h2 th:if="${eliminada}">Listado detalles orden eliminada</h2>  
            <a th:if="${eliminada == null || !eliminada} and ${orden.estadoActual?.nombre != 'FACTURADA'}" th:href="@{/ordenes/agregarDetalleOrden/} + ${orden.idOrden}" class="btn-agregar m-t">Agregar</a>
        </div>

        
        <div class="fila flex-center" th:if="${detalleOrden != null and !detalleOrden.empty}">
            <div class="col-100 caja-tablas">
                <table>
                    <thead>
                    <tr>
                        <th>Servicio</th>
                        <th>Precio unitario del servicio</th>
                        <th>Precio final del servicio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                        <th th:if="${eliminada == null || !eliminada} and ${orden.estadoActual?.nombre != 'FACTURADA'}">Acciones</th>
        
                    </tr>
                    </thead>
                    <tr th:each="detalleOrden :${detalleOrden}">
                        <td th:text="${detalleOrden.servicio.nombre}">Mostrar Servicio</td>
                        <td th:text="${detalleOrden.servicio.precioFormateado()}">Mostrar Precio</td>
                        <td th:text="${detalleOrden.precioFinalServicioFormateado()}">Mostrar Precio</td>
                        <td th:text="${detalleOrden.cantidad}">Mostrar Cantidad</td>
                        <td th:text="${detalleOrden.subtotalFormateado()}">Mostrar Subtotal</td>
                        <td th:if="${eliminada == null || !eliminada}">
                            <a th:if="${orden.estadoActual?.nombre != 'FACTURADA'}" class="btn-editar" th:href="@{/ordenes/modificarDetalleOrden/} + ${detalleOrden.idDetalleOrden} + '/' + ${orden.idOrden}" th:text="Editar"/>
                            <a th:if="${orden.estadoActual?.nombre != 'FACTURADA'}"class="btn-eliminar" th:href="@{/ordenes/eliminarDetalleOrden/} + ${detalleOrden.idDetalleOrden} + '/' + ${orden.idOrden}" th:text="Eliminar"/>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    
        
        <div class="flex-center">
            <div style="color: white; z-index: 2; font-size: large;" th:if="${detalleOrden == null or detalleOrden.empty}">
                La lista de Detalles esta vacia
            </div>
        </div>
            
        <div class="flex-center m-t-small">
            <a style="z-index: 2;" class="btn-eliminar" th:href="@{/ordenes}">Regresar</a>
        </div>
    </div>

</body>
</html>