<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaft.org">
        <title>Marcas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>

        <header>
            <nav>
                <a th:href="@{/}">Inicio</a>
                <a class="activo" th:href="@{/marcas}">Marcas</a>
                <a th:href="@{/modelos}">Modelos</a>
                <a th:href="@{/clientes}">Clientes</a>
                <a th:href="@{/vehiculos}">Vehiculos</a>
                <a th:href="@{/ordenes}">Ordenes</a>
                <a th:href="@{/servicios}">Servicios</a>
                <a th:href="@{/tecnicos}">Tecnicos</a>
                <a th:href="@{/estadisticas}">Estadisticas</a>                
            </nav>
        </header>


        <div class="hero">
            
            <div class="fila flex-start">
                <div class="col-100 m-t">
                    <h2>Listado Marcas</h2>          
                </div> 
            </div>     

            <div class="fila flex-center">
                <a th:href="@{/agregarMarca}" class="btn-agregar">Agregar</a>
                <a th:href="@{/marcasEliminadas}" class="btn-ver-eliminadas m-l">Ver eliminadas</a>         
            </div> 

            <div class="fila flex-column-center">    
                <div class="col-100 caja-barra-busqueda">
                    <label>Buscador de Marcas</label>
                    <form class="flex-center m-t-small" role="search" th:action="@{/buscarMarcas}" th:object="${marca}" method="get">
                        <input class="buscador" type="search" name="nombre" placeholder="Ingrese el nombre de la marca que desea buscar"
                        aria-label="Search" th:value="${nombre}">
                        
                        <input type="submit" class="btn-buscar m-l" value="Buscar">
                    </form>
                </div>
            </div> 
            
            <div class="fila flex-center" th:if="${marca != null and !marca.empty}">
                <div class="col-100 caja-tablas">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Impuesto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        
                        <tr th:each="marca :${marca}">
                            <td th:text="${marca.nombre}">Mostrar Nombre</td>
                            <td th:text="${marca.impuesto}">Mostrar Impuesto</td>
                            <td> <a class="btn-editar" th:href="@{/modificarMarca/} + ${marca.idMarca}" th:text="Editar"/>
                                <a class="btn-eliminar" th:href="@{/eliminarMarca/} + ${marca.idMarca}" th:text="Eliminar"/></td>
                            </tr>
                        </table>
                </div>
            </div>
                
            <div class="flex-center">
                <div style="color: white; z-index: 2; font-size: large;"  th:if="${marca == null or marca.empty}">
                    La lista de marcas esta vacía
                </div>
            </div>
                
        
        </div>    
    </body>
</html>
