<!DOCTYPE html>
<html>
    <head>
        <title>Modelos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>

        <header>
            <nav>
                <a th:href="@{/}">Inicio</a>
                <a th:href="@{/marcas}">Marcas</a>
                <a class="activo" th:href="@{/modelos}">Modelos</a>
                <a th:href="@{/clientes}">Clientes</a>
                <a th:href="@{/vehiculos}">Vehiculos</a>
                <a th:href="@{/ordenes}">Ordenes</a>
                <a th:href="@{/servicios}">Servicios</a>
                <a th:href="@{/tecnicos}">Tecnicos</a>
                <a th:href="@{/estadisticas}">Estadisticas</a>                
            </nav>
        </header>


    <div class="hero">

            <div class="fila flex-column-center">
                <div class="col-100">
                    <h2>Listado Modelos</h2>          
                </div> 
                <div class="fila flex-center">
                    <a th:href="@{/agregarModelo}" class="btn-agregar">Agregar</a>
                </div>
            </div> 

            <div class="fila flex-column-center">
                <div class="col-100 caja-barra-busqueda">
                    <label>Buscador de Modelos</label>
                    <form class="flex-center m-t-small" method="get">
                        
                        <input class="buscador" type="search" name="nombre" placeholder="Ingrese el nombre del modelo que desea buscar"
                            aria-label="Search" th:value="${nombre}">
    
                        <select class="m-l" name="marca" aria-label="Default select example">
                            <option selected value="-1">Seleccione una marca</option>
                            <option th:each="marca : ${marca}" th:value="${marca.idMarca}" th:text="${marca.nombre}"
                                th:selected="${marca.idMarca == idMarca}"></option>
                        </select>
    
                        <input type="submit" class="btn-buscar m-l" value="Buscar">
                    </form>
                </div>
            </div>
            
            
            <div class="fila flex-center" th:if="${modelo != null and !modelo.empty}">
               <div class="col-100 caja-tablas">
                   <table>
                       <thead>
                           <tr>
                               <th>Nombre</th>
                               <th>Marca</th>
                               <th>Acciones</th>
                           </tr>
                       </thead>
   
                       <tr th:each="modelo :${modelo}">
                           <td th:text="${modelo.nombre}">Mostrar Nombre</td>
                           <td th:text="${modelo.marca.nombre}">Mostrar Nombre</td>
                           <td> <a class="btn-editar" th:href="@{/modificarModelo/} + ${modelo.idModelo}" th:text="Editar"/>
                               <a class="btn-eliminar" th:href="@{/eliminarModelo/} + ${modelo.idModelo}" th:text="Eliminar"/></td>
                       </tr>
                   </table>
               </div>
            </div>
            
            <div class="flex-center">
                <div style="color: white; z-index: 2; font-size: large;" th:if="${modelo == null or modelo.empty}">
                    La lista de modelos esta vacia
                </div>
            </div>
            
        </div>
    </div>
    </body>
</html>
