<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehiculo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

    <div class="hero">

        <div class="fila flex-center">
            <div class="caja-barra-busqueda-card">
                <!--Actualizar-->
                <div th:if="${modo eq 'editar'}">
                    <form th:action="@{/tecnico/actualizarKilometrosPorTecnico/}+ ${ordenDb.idOrden}" th:object="${orden}" method="POST">
                        <div class="col-100">
                            <div>
                                <h2>Modificar Kilometros</h>
                            </div>
        
                            <div class="flex-column-center">
                                <div class="form-group">
                                    <input type="hidden" name="idOrden" th:field="*{idOrden}"/>
                                </div>
        
                                <div class="m-t">
                                    <label>Kilometros</label>
                                    <input class="buscador-card m-t-small" type="text" name="kilometrosVehiculo" placeholder="Ingrese el kilometraje del vehiculo" th:field="*{kilometros}" />
                                    <span th:if="${#fields.hasErrors('kilometros')}" th:errors="*{kilometros}"></span>
                                </div>
        
                                <div class="form-group">
                                    <input type="hidden" name="estadoOrden" th:field="*{estado}"/>
                                </div>
        
                            </div>
        
                            <div class="flex-center m-t">
                                <input type="submit" class="btn-editar-card m-r" value="Actualizar" />
                                <a  class="btn-eliminar" th:href="@{/tecnico/vehiculos/} + ${ordenDb.tecnico.idTecnico}">Regresar</a>
                                
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>