<!DOCTYPE html>
<html>
<head>
    <title>Ordenes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>

</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a class="activo" th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>


    <div class="hero">
       
        <div class="fila flex-start">     
            <div class="col-100 m-t">
                <h2>Listado marcas eliminadas</h2>
            </div>
        </div>
        
        <div class="fila flex-column-center">
            <div class="col-100 caja-barra-busqueda">
                <form class="flex-center" method="get">
                    <input class="buscador" type="number" name="numero" placeholder="Ingrese el numero de la orden"
                     aria-label="Search" th:value="${numero}">
    
                    <input type="submit" class="btn-buscar m-l" value="Buscar">
                </form>
                <div class="flex-center">
                    <a th:href="@{ordenes}" class="btn-eliminar m-t-small">Volver</a>
                </div>
            </div>
        </div>
    
        
        <div class="fila flex-center" th:if="${orden != null and !orden.empty}">
            <div class="col-100 caja-tablas">
                <table>
                    <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Fecha</th>
                        <th>Vehiculo</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Kilometraje</th>
                        <th>Tecnico</th>
                        <th>Total</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tr th:each="orden :${orden}">
                        <td th:text="${orden.idOrden}">Mostrar Numero</td>
                        <td th:text="${orden.fechaDocumento}">Mostrar Fecha</td>
                        <td th:text="${orden.vehiculo.patente}">Mostrar Vehiculo</td> 
                        <td th:text="${orden.vehiculo.modelo.marca.nombre}">Mostrar Marca</td>
                        <td th:text="${orden.vehiculo.modelo.nombre}">Mostrar Modelo</td>
                        <td th:text="${orden.kilometros}">Mostrar Kilometraje/td>
                        <td th:text="${orden.tecnico.legajo}">Mostrar Tecnico</td>
                        <td th:text="${orden.calcularTotal()}">Calcular Total</td>
                        <td><a class="btn-ver-eliminadas" th:href="@{/ordenes/detallesOrden/} + ${orden.idOrden}" th:text="Detalles"/></td>
                    </tr>
                </table>

            </div>
        </div>
        
        <div class="flex-center">
            <div th:if="${orden == null or orden.empty}">
                La lista de ordenes esta vacia
            </div>
        </div>
    
        
        
    </div>


</body>
</html>