<!DOCTYPE html>
<html>
<head>
    <title>Ordenes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a class="activo" th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">


        <div class="fila flex-start">
                <div class="col-100 m-t">
                    <h2>Listado Ordenes</h2>          
                </div> 
            </div>     

            <div class="fila flex-center">
                <a th:href="@{/agregarOrden}" class="btn-agregar">Agregar</a>
                <a th:href="@{/ordenesEliminadas}" class="btn-ver-eliminadas m-l">Ver eliminadas</a>
            </div>
                
        
            <div class="fila flex-center">
                <div class="col-100 caja-barra-busqueda">
                    <form class="flex-center" method="get">
            
                        <input class="buscador" type="number" name="numero" placeholder="Ingrese nro. de Orden"
                         aria-label="Search" th:value="${numero}">
            
                        <select class="m-l-small" name="marca" aria-label="Default select example">
                            <option selected value="-1">Seleccione una marca</option>
                            <option th:each="marca : ${marcas}" th:value="${marca.idMarca}" th:text="${marca.nombre}"
                                th:selected="${marca.idMarca == idMarca}"></option>
                        </select>
            
                        <select class="m-l-small" name="modelo" aria-label="Default select example">
                            <option selected value="-1">Seleccione un modelo</option>
                            <option th:each="modelo : ${modelos}" th:value="${modelo.idModelo}" th:text="${modelo.nombre}"
                                th:selected="${modelo.idModelo == idModelo}"></option>
                        </select>

                        <div class="flex-column-center m-t">
                            <input class="buscador" type="date" name="fechaDesdeDocumento" aria-label="Search" th:value="${fechaDesdeDocumento}" />
                            <span>Desde</span>
                        </div>
            
                        <div class="flex-column-center m-t">
                            <input class="buscador" type="date" name="fechaHastaDocumento" aria-label="Search" th:value="${fechaHastaDocumento}" />
                            <span>Hasta</span>
                        </div>

                        <input type="submit" class="btn-buscar" value="Buscar">
                    </form>
                </div>
            </div>
        
            <div class="fila flex-center" th:if="${orden != null and !orden.empty}">
                <div class="col-100 caja-tablas">
                    <table>
                        <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th>Vehiculo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Kilometraje</th>
                            <th>Tecnico</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tr th:each="orden :${orden}">
                            <td th:text="${orden.idOrden}">Mostrar Numero</td>
                            <td th:text="${orden.estadoActual?.nombre}">Mostrar Estado</td>
                            <td th:text="${orden.fechaDocumento}">Mostrar Fecha</td>
                            <td th:text="${orden.vehiculo.patente}">Mostrar Vehiculo</td> 
                            <td th:text="${orden.vehiculo.modelo.marca.nombre}">Mostrar Marca</td>
                            <td th:text="${orden.vehiculo.modelo.nombre}">Mostrar Modelo</td>
                            <td th:text="${orden.formatearKilometros()}">Mostrar Kilometraje/td>
                            <td th:text="${orden.tecnico.legajo}">Mostrar Tecnico</td>
                            <td th:text="${orden.calcularTotal()}">Calcular Total</td>
                            <td><a class="btn-ver-eliminadas" th:href="@{/ordenes/detallesOrden/} + ${orden.idOrden}" th:text="Detalles"/>
                                <a th:if="${orden.estadoActual?.nombre != 'FACTURADA'}" class="btn-editar" th:href="@{/modificarOrden/} + ${orden.idOrden}" th:text="Editar"/>
                                <!-- <a class="btn-agregar" th:href="@{/ordenes/imagenesOrden/} + ${orden.idOrden}" th:text="Imagenes"/> -->
                                <a th:if="${orden.estadoActual?.nombre != 'FACTURADA'}" class="btn-eliminar" th:href="@{/eliminarOrden/} + ${orden.idOrden}" th:text="Eliminar"/>
                                <a th:if="${orden.estadoActual?.nombre != 'FACTURADA' and orden.estadoActual?.nombre == 'COMPLETADA'} and ${orden.getDetallesOrdenesHTML != null}" class="btn-facturar" th:href="@{/facturarOrden/} + ${orden.idOrden}" th:text="Facturar"/></td></td>
            
            
                        </tr>
                    </table>
                </div>
            </div>
            

            <div th:if="${orden == null or orden.empty}">
                La lista de ordenes esta vacia
            </div>
    </div>


</div>
</body>
</html>