<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaft.org">
        <title>Servicios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>
    
        <header>
            <nav>
                <a th:href="@{/}">Inicio</a>
                <a th:href="@{/marcas}">Marcas</a>
                <a th:href="@{/modelos}">Modelos</a>
                <a th:href="@{/clientes}">Clientes</a>
                <a th:href="@{/vehiculos}">Vehiculos</a>
                <a th:href="@{/ordenes}">Ordenes</a>
                <a class="activo" th:href="@{/servicios}">Servicios</a>
                <a th:href="@{/tecnicos}">Tecnicos</a>
                <a th:href="@{/estadisticas}">Estadisticas</a>                
            </nav>
        </header>

        <div class="hero">

            <div class="fila flex-start">
                <div class="col-100 m-t">
                    <h2>Listado Servicios</h2>          
                </div> 
            </div>   
                
            <div class="fila flex-center">
                <a th:href="@{/agregarServicio}" class="btn-agregar">Agregar</a>
                <a th:href="@{/serviciosEliminados}" class="btn-ver-eliminadas m-l">Ver eliminados</a>
            </div>
            
            
            <div class="fila flex-column-center">
                <div class="col-100 caja-barra-busqueda">
                    <label>Buscador de Servicios</label>
                    <form class="flex-center m-t-small" method="get">
                        <input class="buscador" type="search" name="nombre" placeholder="Ingrese el nombre del servicio"
                        aria-label="Search" th:value="${nombre}">
                        <input type="submit" class="btn-buscar m-l" value="Buscar">
                    </form>
                </div>     
            </div>
                    
            
            <div class="fila flex-center" th:if="${servicio != null and !servicio.empty}">
                <div class="col-100 caja-tablas">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Repuesto</th>
                                <th>Acciones</th>
    
                            </tr>
                        </thead>
    
                        <tr th:each="servicio :${servicio}">
                            <td th:text="${servicio.nombre}">Mostrar Nombre</td>
                            <td th:text="${servicio.precioFormateado()}">Mostrar Precio</td>
                            <td>
                                <span th:if="${servicio.repuesto != null and servicio.repuesto != ''}" th:text="${servicio.repuesto}">Mostrar Repuesto</span>
                                <span th:unless="${servicio.repuesto != null and servicio.repuesto != ''}">(No Ingresado)</span>
                            </td>
                            <td> <a class="btn-editar" th:href="@{/modificarServicio/} + ${servicio.idServicio}" th:text="Editar"/>
                                <a class="btn-eliminar" th:href="@{/eliminarServicio/} + ${servicio.idServicio}" th:text="Eliminar"/></td>
                        </tr>
                    </table>

                </div>
            </div>
                
            
            <div class="flex-center">
                <div style="color: white; z-index: 2; font-size: large;" th:if="${servicio == null or servicio.empty}">
                    La lista de servicios esta vacia
                </div>
            </div>
                
                
        </div>
    </body>
</html>