<!DOCTYPE html>
<html>
    <head xmlns:th="http://www.thymeleaft.org">
        <title>Servicios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/styles.css}"/>
        
    </head>
    <body>

    <header>
            <nav>
                <a th:href="@{/}">Inicio</a>
                <a th:href="@{/marcas}">Marcas</a>
                <a th:href="@{/modelos}">Modelos</a>
                <a th:href="@{/clientes}">Clientes</a>
                <a th:href="@{/vehiculos}">Vehiculos</a>
                <a th:href="@{/ordenes}">Ordenes</a>
                <a class="activo" th:href="@{/servicios}">Servicios</a>
                <a th:href="@{/tecnicos}">Tecnicos</a>
                <a th:href="@{/estadisticas}">Estadisticas</a>                
            </nav>
        </header>


        <div class="hero">

            <div class="fila flex-start">
                <div class="col-100 m-t">
                    <h2>Listado servicios eliminados</h2>
                </div>
            </div>

            
            <div class="fila flex-column-center">
                <div class="col-100 caja-barra-busqueda">
                    <form class="flex-center" method="get">
                        <input class="buscador" type="search" name="nombre" placeholder="Ingrese el nombre del servicio que desea buscar"
                        aria-label="Search" th:value="${nombre}">

                        <input type="submit" class="btn-buscar m-l" value="Buscar">
                    </form>
                    
                    <div class="flex-center">
                        <a th:href="@{/servicios}" class="btn-eliminar m-t-small">Volver</a>
                    </div>
                </div>
            </div>
                
            
            <div class="fila flex-column-center" th:if="${servicio != null and !servicio.empty}">
                <div class="col-100 caja-tablas">
                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Repuesto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
    
                        <tr th:each="servicio :${servicio}">
                            <td th:text="${servicio.nombre}">Mostrar Nombre</td>
                            <td th:text="${servicio.precio}">Mostrar Precio</td>
                            <td>
                                <span th:if="${servicio.repuesto != null and servicio.repuesto != ''}" th:text="${servicio.repuesto}">Mostrar Repuesto</span>
                                <span th:unless="${servicio.repuesto != null and servicio.repuesto != ''}">(No Ingresado)</span>
                            </td>
                            <td> <a class="btn-ver-eliminadas" th:href="@{/recuperarServicio/} + ${servicio.idServicio}" th:text="Recuperar"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="flex-center">
                <div style="color: white; z-index: 2; font-size: large;" th:if="${servicio == null or servicio.empty}">
                    La lista de servicios esta vacia
                </div>
            </div>


            

        </div>

       
    </body>
</html>