<html>
<head xmlns:th="http://www.thymeleaft.org">
    <title>Tecnicos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>    
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a  th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a class="activo" th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">


        <div class="fila flex-start">
            <div class="col-100 m-t">
                <h2>Listado Tecnicos</h2>          
            </div> 
        </div>     
        
        <div class="fila flex-center">
            <a th:href="@{/agregarTecnico}" class="btn-agregar">Agregar</a>
        </div>
        
        
        <div class="fila flex-center">
            <div class="col-100 caja-barra-busqueda">
                <label>Buscador de Tecnicos</label>
                <form class="flex-center m-t-small" role="search" method="get">
                    <input class="buscador" type="number" name="legajo" placeholder="Ingrese el legajo del tecnico" aria-label="Search" th:value="${legajo}">
                    <input class="buscador m-l-small" type="text" name="nombre" placeholder="Ingrese el nombre del tecnico" aria-label="Search" th:value="${nombre}">
                    <input class="buscador m-l-small" type="text" name="apellido" placeholder="Ingrese el apellido del tecnico" aria-label="Search" th:value="${apellido}">
            
                    <button class="btn-buscar m-l-small" type="submit">Buscar</button>
                </form>
    
            </div>       
        </div>
            

        <div class="fila flex-center" th:if="${tecnico != null and !tecnico.empty}">
            <div class="col-100 caja-tablas">
                <table>
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Legajo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
        
                    <tr th:each="tecnico :${tecnico}">
                        <td th:text="${tecnico.nombre}">Mostrar Nombre</td>
                        <td th:text="${tecnico.apellido}">Mostrar Apellido</td>
                        <td th:text="${tecnico.legajo}">Mostrar Legajo</td>
                        <td>
                            <a class="btn-ver-eliminadas" th:href="@{/tecnico/vehiculos/} + ${tecnico.idTecnico}" th:text="Vehiculos"></a>
                            <a class="btn-editar" th:href="@{/modificarTecnico/} + ${tecnico.idTecnico}" th:text="Editar"/>
                            <a class="btn-eliminar" th:href="@{/eliminarTecnico/} + ${tecnico.idTecnico}" th:text="Eliminar"/></td>
                    </tr>
                </table>
            </div>
        </div>
        
    
        <div class="flex-center">
            <div style="color: white; z-index: 2; font-size: large;" th:if="${tecnico == null or tecnico.empty}">
                La lista de tecnicos esta vacia
            </div>
        </div>
        

        

</div>
</body>
</html>