<html>
<head xmlns:th="http://www.thymeleaf.org">
    <title>Vehiculos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a th:href="@{/vehiculos}">Vehiculos</a>
            <a th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a class="activo" th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">

        <div class="fila flex-start">
            <div class="col-100 m-t">
                <h2>Lista de Vehiculos asignados</h2>
            </div>
        </div>


            <div class="fila flex-center" th:if="${vehiculos != null and !vehiculos.empty}">
                <div class="col-100 caja-tablas">
                    <table>
                        <thead>
                        <tr>
                            <th>Patente</th>
                            <th>Año</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Kilometros</th>
                            <th>Orden</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
            
                        <tr th:each="orden : ${ordenes}">
                            <td th:text="${orden.vehiculo.patente}">Mostrar Patente</td>
                            <td th:text="${orden.vehiculo.year}">Mostrar Year</td>
                            <td th:text="${orden.vehiculo.modelo.nombre}">Mostrar Modelo</td>
                            <td th:text="${orden.vehiculo.modelo.marca.nombre}">Mostrar Marca</td>
                            <td th:text="${orden.kilometros}">Mostrar kilometros</td>
                            <td th:text="${orden.idOrden}">Orden ID</td>
                            <td> 
                                <a class="btn-editar" th:href="@{/tecnico/modificarKilometrosPorTecnico/} + ${orden.vehiculo.idVehiculo} + '/' + ${orden.tecnico.idTecnico} + '/'+ ${orden.idOrden}" th:text="Editar"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        
            
            <div class="flex-center">
                <div style="color: white; z-index: 2; font-size: large;" th:if="${vehiculos == null or vehiculos.empty}">
                    La lista de vehiculos esta vacia
                </div>
            </div>
           

            <div class="flex-center">
                <a style="z-index: 2;" class="btn-eliminar" th:href="@{/tecnicos}">Regresar</a>
            </div>
        
        </div>

    </div>


</body>
</html>