<html>
<head xmlns:th="http://www.thymeleaf.org">
    <title>Vehiculos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <header>
        <nav>
            <a th:href="@{/}">Inicio</a>
            <a th:href="@{/marcas}">Marcas</a>
            <a th:href="@{/modelos}">Modelos</a>
            <a th:href="@{/clientes}">Clientes</a>
            <a class="activo" th:href="@{/vehiculos}">Vehiculos</a>
            <a th:href="@{/ordenes}">Ordenes</a>
            <a th:href="@{/servicios}">Servicios</a>
            <a th:href="@{/tecnicos}">Tecnicos</a>
            <a th:href="@{/estadisticas}">Estadisticas</a>                
        </nav>
    </header>

    <div class="hero">

        <div class="fila flex-start">
            <div class="col-100 m-t">
                <h2>Listado Vehiculos eliminados</h2>
            </div>
        </div>
        

        <div class="fila flex-column-center">
            <div class="col-100 caja-barra-busqueda">
                <form class="flex-center" method="get">
                    <input class="buscador" type="search" name="patente" placeholder="Ingrese una patente"
                        aria-label="Search" th:value="${patente}">
            
                    <input type="submit" class="btn-buscar m-l" value="Buscar">
                </form>
    
                <div class="flex-center">
                    <a th:href="@{/vehiculos}" class="btn-eliminar m-t-small">Volver</a>
                </div>
            </div>
        </div>
            
        
        <div class="fila flex-center" th:if="${vehiculo != null and !vehiculo.empty}">
            <div class="col-100 caja-tablas">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Patente</th>
                            <th>Año</th>
                            <th>Modelo</th>
                            <th>Marca</th>
                            <th>Cliente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
    
                    <tr th:each="vehiculo :${vehiculo}">
                        <td th:text="${vehiculo.patente}">Mostrar Patente</td>
                        <td th:text="${vehiculo.year}">Mostrar Year</td>
                        <td th:text="${vehiculo.modelo.nombre}">Mostrar Modelo</td>
                        <td th:text="${vehiculo.modelo.marca.nombre}">Mostrar Marca</td>
                        <td th:text="${vehiculo.cliente.nombre}">Mostrar Nombre Cliente</td>
                        <td> <a class="btn-ver-eliminadas" th:href="@{/recuperarVehiculo/} + ${vehiculo.idVehiculo}"
                                th:text="Recuperar" />
                        </td>
                    </tr>
                </table>
            </div>

        </div>
   
        <div class="flex-center">
            <div style="color: white; z-index: 2; font-size: large;" th:if="${vehiculo == null or vehiculo.empty}">
                La lista de vehiculos esta vacia
            </div>
        </div>
    
        <div th:if="${error != null}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>     
   
   
    </div>
</body>
</html>
    
